@import '../../styles/mixin.scss';
.heroContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.innerLayout {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background: linear-gradient(102.63deg, #6d6c6d 0%, #020202 0);
  opacity: 0.9;
  position: absolute;
  top: 0;
}
.info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  color: #fff;
  row-gap: 1rem;
  h1 {
    text-align: center;
    width: 80%;
    font-size: 5rem;
    @include for-large-tablet-portrait-up {
      font-size: 2rem;
    }
  }
  p {
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    @include for-large-tablet-portrait-up {
      width: 80%;
      font-size: 1rem;
    }
  }
  a {
    margin-top: 2rem;
    background: #fe9901;
    border-radius: 4px;
    padding: 16px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #282625;
    &:hover {
      color: #fff;
    }
  }
}
