// breaking point for responsiveness
$smallMobile: 320px;
$mediamMobile: 375px;
$largeMobile: 425px;
$verticalmobile: 540px;
$tablet: 768px;
$laptop: 1024px;
$largeLaptop: 1440px;
$display: 1940px;
$largeDisplay: 2560px;
