html {
  /* colors */
  --bg: #fff;
  --bg1: #f5f5f5;
  --primaryClr: #fe9901;
  --secondaryClr: #262626;
  --textWhite: rgb(255, 255, 255);
  /*fontSize*/
  --primaryFnt: 16px;
  /* mediaQueries */
  --mobS: 320px;
  --mobM: 375px;
  --mobL: 425px;
  --mobVertical: 540px;
  --tablet: 768px;
  --laptop: 1024px;
  --laptopL: 1440px;
  --lg: 1920px;
  --xl: 2560px;
  /* scroll-behavior: smooth; */
}
/* body {
  scroll-behavior: smooth !important;
  overflow-y: scroll !important;
} */
/* importing local fonts */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/AvertaDemo-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Averta-bold';
  src: url('../../public/fonts/averta-bold.otf');
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Averta', serif;
  /* scroll-behavior: smooth; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  color: #fe9901;
  transition: color ease-in 0.2s;
}
i {
  font-size: 25px;
}
button {
  outline: none;
  border: none;
  background-color: unset;
  color: var(--textWhite);
}
/* text */
.text-1 {
  font-size: 1.5rem;
  font-family: Averta, 'serif';
  color: var(--secondaryClr);
}
.text-2-bold {
  font-size: 1.5rem;
  font-family: Averta-bold, 'serif';
  color: var(--primaryClr);
}
.text-mediam {
  font-size: var(--primaryFnt);
  font-weight: 400;
  color: var(--secondaryClr);
}
.w-100 {
  width: 100% !important;
}
.flexRowAndCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: inherit;
}
.flexRowAndSpaceBetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flexRowSpaceBetweenAlignStart {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  width: inherit;
}
.flexColumnAndCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexRowAndSpaceAround {
  display: flex;
  justify-content: space-around;
  width: inherit;
}
.active {
  border-bottom: 2px solid var(--primaryClr);
}

/* spacing  */
.m {
  margin: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
  font-family: Averta-bold;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
  font-weight: 600;
}
h6 {
  font-size: 1.1rem;
}
p {
  font-size: 1.2rem;
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 425px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}
